body {
    margin: 0;
    padding: 0;
}

:is(html, body, #__next) {
    height: -webkit-fill-available !important;
    height: fill-available !important;
}
#__next {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}
#header {
    z-index: 1;
    --con-paddingBlock: 0px;
}
#__next>main {
    flex: 1 0;
}
#dashboard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;

    padding-block: 1rem;
}
#search {
    flex: 1 1;
}
#search>:first-child {
    flex: 1 1;
}
#searchInput>input {
    inline-size: 0px !important;
}
#search>:not(:first-child) {
    flex: 0 0;
}
#searchBtn {
    flex-wrap: nowrap !important;
}
#searchType {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

main>article>header {
    color: var(--col-light) !important;
    background-size: cover !important;
    min-height: 100px;

    display         : flex;
    flex-direction  : row;
    justify-content : flex-start;
    align-items     : center;
}