body {
    margin: 0;
    padding: 0;
}

// a:any-link {
//     color: unset;
//     cursor: unset;
//     text-decoration: unset;
// }

main>header {
    color: var(--col-light) !important;
    background-size: cover !important;
    min-height: 100px;
    margin-inline: calc(0px - var(--con-paddingInline));
    margin-block-start: calc(0px - var(--con-paddingBlock));
    margin-block-end: var(--con-paddingBlock);
}